<h1><%= @user.email %>'s bookmarks</h1>
<div class= "row">
  <h3>Bookmarks</h3>
  <div class="col-md-8">
    <% @user_bookmarks.each do |bookmark| %>
    <h5><%= bookmark.url %></h5>
    <%= link_to "Delete", topic_bookmark_path(bookmark.topic_id, bookmark),
        method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this bookmark?'} %>
    <% end %>
  </div>
</div>
<div class="row">
  <h3>Liked Bookmarks</h3>
  <div class="col-md-8">
    <% @liked_bookmarks.each do |like| %>
    <% bookmark = Bookmark.find(like.bookmark_id) %>
    <h5><%= bookmark.url %></h5>
      <%= link_to [@user], class: 'btn btn-danger', method: :delete do %>
      <i class="glyphicon glyphicon-star-empty"></i>&nbsp; Unlike
      <% end %>
    <% end %>
    </div>
</div>
